<nav class="ui fixed menu teal inverted navbar">
  <div class="container">

    <%= link_to 'Craft N\' Trade', root_path, class: 'item' %>

    <div class="right menu">
      <% if user_signed_in? %>
        <div class="ui dropdown item">
          <%= current_user.first_name + ' ' + current_user.last_name %>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="#" class="item"><i class="setting icon"></i>  Account Settings</a>
            <a href="#" class="item"><i class="plus square outline icon"></i> List Item</a>
            <a href="#" class="item"><i class="shop icon"></i> My Auctions</a>
            <div class="divider"></div>
            <%= link_to '<i class="sign out icon"></i> Log Out'.html_safe, destroy_user_session_path, class: 'item', method: :delete %>
          </div>
        </div>

        <div class="ui icon pointing dropdown item">
          <i class="alarm icon"></i>
          <div class="menu">
            <div class="header">Display Density</div>
            <div class="item">Comfortable</div>
            <div class="item">Cozy</div>
            <div class="item">Compact</div>
            <div class="ui divider"></div>
            <div class="item">Settings</div>
            <div class="item">
              <i class="dropdown icon"></i>
              <span class="text">Upload Settings</span>
              <div class="menu">
                <div class="item">
                  <i class="check icon"></i>
                  Convert Uploaded Files to PDF
                </div>
                <div class="item">
                  <i class="check icon"></i>
                  Digitize Text from Uploaded Files
                </div>
              </div>
            </div>
            <div class="item">Manage Apps</div>
            <div class="item">Keyboard Shortcuts</div>
            <div class="item">Help</div>
          </div>
        </div>
      <% else %>
        <%= link_to 'Log In', new_user_session_path, class: 'item' %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'item' %>
      <% end %>
    </div>
  </div>
</nav>
