<!DOCTYPE html>
<html>
<head>
  <title>Craftntrade2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render "partials/navbar" %>

<div class="main container">

  <%= semantic_flash %>
  <%= yield %>
</div>

<%= render "partials/footer" %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
